In [ ]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [ ]:
## Importing libraries
import pandas as pd
import numpy as np
from tqdm import tqdm
tqdm.pandas()

## Pandas Display options
pd.set_option('display.max_columns',0)
pd.set_option('display.max_colwidth',0)

In [ ]:
# Display options
pd.set_option('display.max_columns',50)

In [ ]:
train_data = pd.read_csv('train_data_with_samplefeatures.csv')
test_data = pd.read_csv('test_data_with_samplefeatures.csv')
match_lvl_data = pd.read_csv('match_level_scorecard.csv')
batsman_lvl_data = pd.read_csv('batsman_level_scorecard.csv')
bowler_lvl_data = pd.read_csv('bowler_level_scorecard.csv')

In [ ]:
# train_data.head()
# test_data.head()
# match_lvl_data.head()
# batsman_lvl_data.head()
# bowler_lvl_data.head()

In [ ]:
train_list = [col for col in train_data.columns]
print(train_list)
print()
test_list = [col for col in test_data.columns]
print(test_list)
print()
match_lvl_list = [col for col in match_lvl_data.columns]
print(match_lvl_list)
print()
batsman_list = [col for col in batsman_lvl_data.columns]
print(batsman_list)
print()
bowler_list = [col for col in bowler_lvl_data.columns]
print(bowler_list)
print()

['match id', 'team1', 'team1_id', 'team1_roster_ids', 'team2', 'team2_id', 'team2_roster_ids', 'winner', 'winner_id', 'toss winner', 'toss decision', 'venue', 'city', 'match_dt', 'lighting', 'series_name', 'season', 'ground_id', 'team_count_50runs_last15', 'team_winp_last5', 'team1only_avg_runs_last15', 'team1_winp_team2_last15', 'ground_avg_runs_last15']

['match id', 'team1', 'team1_id', 'team1_roster_ids', 'team2', 'team2_id', 'team2_roster_ids', 'toss winner', 'toss decision', 'venue', 'city', 'match_dt', 'lighting', 'series_name', 'season', 'ground_id', 'team_count_50runs_last15', 'team_winp_last5', 'team1only_avg_runs_last15', 'team1_winp_team2_last15', 'ground_avg_runs_last15']

['match id', 'team1', 'team2', 'winner', 'by', 'win amount', 'toss winner', 'toss decision', 'venue', 'city', 'match_dt', 'lighting', 'series_name', 'season', 'ground_id', 'umpire1', 'umpire2', 'inning1_runs', 'inning1_wickets', 'inning1_balls', 'inning2_runs', 'inning2_wickets', 'inning2_balls', 'team1_id', 'team1_roster_ids', 'team2_id', 'team2_roster_ids', 'series_type', 'winner_id', 'player_of_the_match_id']

['match id', 'batsman', 'batsman_id', 'batsman_details', 'is_batsman_captain', 'is_batsman_keeper', 'inning', 'runs', 'balls_faced', 'over_faced_first', 'wicket kind', 'out_by_bowler', 'out_by_fielder', 'bowler_id', 'bowler_details', 'is_bowler_keeper', 'is_bowler_captain', 'strike_rate', 'Fours', 'Sixes', 'match_dt']

['match id', 'bowler', 'bowler_id', 'bowler_details', 'is_bowler_captain', 'is_bowler_keeper', 'inning', 'runs', 'wicket_count', 'balls_bowled', 'economy', 'maiden', 'dots', 'Fours', 'Sixes', 'wides', 'noballs', 'match_dt']

Preprocessing Data

In [ ]:
## Toss winner to numerical - 1 if team2 wins, else 0

train_data['toss_winner_01'] = np.where(train_data['toss winner']==train_data['team2'], 1, 0)
test_data['toss_winner_01'] = np.where(test_data['toss winner']==test_data['team2'], 1, 0)

In [ ]:
## Toss decision - categorical - 1 if winner bats, 0 otherwise

train_data['toss_decision_01'] = np.where(train_data['toss decision']=='bat', 1, 0)
test_data['toss_decision_01'] = np.where(test_data['toss decision']=='bat', 1, 0)

In [ ]:
# Identify unique values in the 'lighting' column
unique_values = train_data['lighting'].unique()

# Create a mapping from the unique string values to numerical values
value_mapping = {value: idx for idx, value in enumerate(unique_values)}

# Replace string values with numerical values using the mapping
train_data['lighting'] = train_data['lighting'].map(value_mapping)

In [ ]:
# Identify unique values in the 'lighting' column
unique_values1 = test_data['lighting'].unique()

# Create a mapping from the unique string values to numerical values
value_mapping1 = {value: idx for idx, value in enumerate(unique_values1)}

# Replace string values with numerical values using the mapping
test_data['lighting'] = test_data['lighting'].map(value_mapping)

ADDING NEW FEATURES FROM MATCH LVL DATASET

In [ ]:
#Calculating run rate for each inning and adding to train_data and test_data

train_data['inning1_run_rate'] = match_lvl_data['inning1_runs'] / (match_lvl_data['inning1_balls'] / 6)
train_data['inning2_run_rate'] = match_lvl_data['inning2_runs'] / (match_lvl_data['inning2_balls'] / 6)
test_data['inning1_run_rate'] = train_data['inning1_run_rate']
test_data['inning2_run_rate'] = train_data['inning2_run_rate']

In [ ]:
#Total wickets lost
train_data['inning1_wickets'] = match_lvl_data['inning1_wickets']
train_data['inning2_wickets'] = match_lvl_data['inning2_wickets']
test_data['inning1_wickets'] = train_data['inning1_wickets']
test_data['inning2_wickets'] = train_data['inning2_wickets']

In [ ]:
train_list = [col for col in train_data.columns]
print(train_list)
print()

test_list = [col for col in test_data.columns]
print(test_list)
print()

['match id', 'team1', 'team1_id', 'team1_roster_ids', 'team2', 'team2_id', 'team2_roster_ids', 'winner', 'winner_id', 'toss winner', 'toss decision', 'venue', 'city', 'match_dt', 'lighting', 'series_name', 'season', 'ground_id', 'team_count_50runs_last15', 'team_winp_last5', 'team1only_avg_runs_last15', 'team1_winp_team2_last15', 'ground_avg_runs_last15', 'toss_winner_01', 'toss_decision_01', 'inning1_run_rate', 'inning2_run_rate', 'inning1_wickets', 'inning2_wickets']

['match id', 'team1', 'team1_id', 'team1_roster_ids', 'team2', 'team2_id', 'team2_roster_ids', 'toss winner', 'toss decision', 'venue', 'city', 'match_dt', 'lighting', 'series_name', 'season', 'ground_id', 'team_count_50runs_last15', 'team_winp_last5', 'team1only_avg_runs_last15', 'team1_winp_team2_last15', 'ground_avg_runs_last15', 'toss_winner_01', 'toss_decision_01', 'inning1_run_rate', 'inning2_run_rate', 'inning1_wickets', 'inning2_wickets']

In [ ]:
train_data.head()

,match id,team1,team1_id,team1_roster_ids,team2,team2_id,team2_roster_ids,winner,winner_id,toss winner,toss decision,venue,city,match_dt,lighting,series_name,season,ground_id,team_count_50runs_last15,team_winp_last5,team1only_avg_runs_last15,team1_winp_team2_last15,ground_avg_runs_last15,toss_winner_01,toss_decision_01,inning1_run_rate,inning2_run_rate,inning1_wickets,inning2_wickets
0,9331181,Ba,11283,9373356.0:7857520.0:4232164.0:4566540.0:3299407.0:232000.0:7883504.0:8725723.0:7878989.0:2526390.0:8725730.0:4017523.0,Hl Ph,12634,3500958.0:4231751.0:2735081.0:2035102.0:3698337.0:5058192.0:6844718.0:4566526.0:6596582.0:4161975.0:7952804.0:8465057.0,Hl Ph,12634,Hl Ph,field,Hr Ct Sm Ie,Indore,20-10-2022,0,Sd Mq Ai Ty,2022/23,7398,1.666667,0.672131,139.000000,100.0,157.178571,1,0,6.830769,9.402062,6,1
1,8797060,Ed,20,2089079.0:6139370.0:2076192.0:62432.0:2083409.0:172199.0:2022957.0:1482998.0:1711492.0:4507208.0:3231437.0,Wt Is,41,4690258.0:4069666.0:4230127.0:1942317.0:1613926.0:2740408.0:4739552.0:5744850.0:4690104.0:3715697.0:3468870.0,Ed,20,Wt Is,field,Kn Ol Bn Bs,Bridgetown,23-01-2022,0,Ed tr of Wt Is,2021/22,1406,1.285714,1.952381,156.000000,50.0,103.500000,1,0,9.396226,9.486486,6,2
2,9433269,We,10576,3298427.0:2288789.0:7773338.0:3519011.0:3681957.0:7671313.0:5320118.0:2922611.0:7184232.0:7661996.0:6240632.0,Ne,8987,4003390.0:1749075.0:1626526.0:4172447.0:5516720.0:7328110.0:125915.0:130437.0:7507303.0:4420828.0:5652828.0,We,10576,Ne,field,Tt Be Nm,Nottingham,02-06-2023,0,Vy Bt,2023,251,0.857143,0.672131,173.266667,0.0,154.333333,1,0,7.857143,8.621849,8,6
3,9587073,Ga An Ws,36084,8127230.0:4690328.0:4069666.0:7960847.0:4690188.0:4739580.0:4739552.0:5744850.0:2294823.0:9266102.0:284339.0,Bs Rs,36070,3462080.0:2436405.0:1798705.0:7550857.0:5742470.0:2740408.0:3575774.0:3200756.0:334963.0:6399210.0:6347494.0,Ga An Ws,36084,Ga An Ws,bat,Bn La Sm Ta Td,Tarouba,10-09-2023,1,Cn Pr Le,2023,14300,2.166667,1.975610,164.266667,50.0,144.250000,0,1,7.171875,7.428571,7,8
4,9516457,Pb Ks,30407,8127181.0:197658.0:4239038.0:2398346.0:5053082.0:4640824.0:5038046.0:8180500.0:2035102.0:3851518.0:7881845.0:7453697.0,Gt Ts,48341,1958683.0:7491224.0:8059029.0:4377610.0:2252452.0:2966879.0:5554254.0:4690230.0:3373285.0:3759846.0:6496482.0,Gt Ts,48341,Gt Ts,field,Pb Ct An IS Ba Sm Mi Ch,Chandigarh,13-04-2023,2,In Pr Le,2023,7118,0.818182,1.327869,164.666667,0.0,189.000000,1,0,7.809524,6.975610,5,9

In [ ]:
# Calculate Venue Winning Rate
# Filter relevant columns
matches = match_lvl_data[['team1', 'team2', 'winner', 'venue']]

# Calculate the total matches played by each team at each venue
matches_played = matches.melt(id_vars=['venue'], value_vars=['team1', 'team2'], var_name='team_type', value_name='team')
matches_played = matches_played.groupby(['team', 'venue']).size().reset_index(name='matches_played')

# Calculate the total matches won by each team at each venue
matches_won = matches[matches['winner'].notna()]
matches_won = matches_won.groupby(['winner', 'venue']).size().reset_index(name='matches_won')

# Merge the two dataframes to calculate the win rate
win_rate = pd.merge(matches_played, matches_won, left_on=['team', 'venue'], right_on=['winner', 'venue'], how='left')
win_rate['matches_won'] = win_rate['matches_won'].fillna(0)
win_rate['win_rate'] = win_rate['matches_won'] / win_rate['matches_played']

# Prepare to merge with train_data
win_rate_team1 = win_rate.rename(columns={'team': 'team1', 'win_rate': 'team1_win_rate'})
win_rate_team2 = win_rate.rename(columns={'team': 'team2', 'win_rate': 'team2_win_rate'})

# Merge with train_data
train_data = pd.merge(train_data, win_rate_team1[['team1', 'venue', 'team1_win_rate']], on=['team1', 'venue'], how='left')
train_data = pd.merge(train_data, win_rate_team2[['team2', 'venue', 'team2_win_rate']], on=['team2', 'venue'], how='left')

# Merge with test_data
test_data = pd.merge(test_data, win_rate_team1[['team1', 'venue', 'team1_win_rate']], on=['team1', 'venue'], how='left')
test_data = pd.merge(test_data, win_rate_team2[['team2', 'venue', 'team2_win_rate']], on=['team2', 'venue'], how='left')

train_data.head()
test_data.head()

,match id,team1,team1_id,team1_roster_ids,team2,team2_id,team2_roster_ids,winner,winner_id,toss winner,toss decision,venue,city,match_dt,lighting,series_name,season,ground_id,team_count_50runs_last15,team_winp_last5,team1only_avg_runs_last15,team1_winp_team2_last15,ground_avg_runs_last15,toss_winner_01,toss_decision_01,inning1_run_rate,inning2_run_rate,inning1_wickets,inning2_wickets,team1_win_rate,team2_win_rate
0,9331181,Ba,11283,9373356.0:7857520.0:4232164.0:4566540.0:3299407.0:232000.0:7883504.0:8725723.0:7878989.0:2526390.0:8725730.0:4017523.0,Hl Ph,12634,3500958.0:4231751.0:2735081.0:2035102.0:3698337.0:5058192.0:6844718.0:4566526.0:6596582.0:4161975.0:7952804.0:8465057.0,Hl Ph,12634,Hl Ph,field,Hr Ct Sm Ie,Indore,20-10-2022,0,Sd Mq Ai Ty,2022/23,7398,1.666667,0.672131,139.000000,100.0,157.178571,1,0,6.830769,9.402062,6,1,0.333333,1.000000
1,8797060,Ed,20,2089079.0:6139370.0:2076192.0:62432.0:2083409.0:172199.0:2022957.0:1482998.0:1711492.0:4507208.0:3231437.0,Wt Is,41,4690258.0:4069666.0:4230127.0:1942317.0:1613926.0:2740408.0:4739552.0:5744850.0:4690104.0:3715697.0:3468870.0,Ed,20,Wt Is,field,Kn Ol Bn Bs,Bridgetown,23-01-2022,0,Ed tr of Wt Is,2021/22,1406,1.285714,1.952381,156.000000,50.0,103.500000,1,0,9.396226,9.486486,6,2,0.400000,0.600000
2,9433269,We,10576,3298427.0:2288789.0:7773338.0:3519011.0:3681957.0:7671313.0:5320118.0:2922611.0:7184232.0:7661996.0:6240632.0,Ne,8987,4003390.0:1749075.0:1626526.0:4172447.0:5516720.0:7328110.0:125915.0:130437.0:7507303.0:4420828.0:5652828.0,We,10576,Ne,field,Tt Be Nm,Nottingham,02-06-2023,0,Vy Bt,2023,251,0.857143,0.672131,173.266667,0.0,154.333333,1,0,7.857143,8.621849,8,6,0.500000,0.647059
3,9587073,Ga An Ws,36084,8127230.0:4690328.0:4069666.0:7960847.0:4690188.0:4739580.0:4739552.0:5744850.0:2294823.0:9266102.0:284339.0,Bs Rs,36070,3462080.0:2436405.0:1798705.0:7550857.0:5742470.0:2740408.0:3575774.0:3200756.0:334963.0:6399210.0:6347494.0,Ga An Ws,36084,Ga An Ws,bat,Bn La Sm Ta Td,Tarouba,10-09-2023,1,Cn Pr Le,2023,14300,2.166667,1.975610,164.266667,50.0,144.250000,0,1,7.171875,7.428571,7,8,0.500000,0.500000
4,9516457,Pb Ks,30407,8127181.0:197658.0:4239038.0:2398346.0:5053082.0:4640824.0:5038046.0:8180500.0:2035102.0:3851518.0:7881845.0:7453697.0,Gt Ts,48341,1958683.0:7491224.0:8059029.0:4377610.0:2252452.0:2966879.0:5554254.0:4690230.0:3373285.0:3759846.0:6496482.0,Gt Ts,48341,Gt Ts,field,Pb Ct An IS Ba Sm Mi Ch,Chandigarh,13-04-2023,2,In Pr Le,2023,7118,0.818182,1.327869,164.666667,0.0,189.000000,1,0,7.809524,6.975610,5,9,0.250000,1.000000

,match id,team1,team1_id,team1_roster_ids,team2,team2_id,team2_roster_ids,toss winner,toss decision,venue,city,match_dt,lighting,series_name,season,ground_id,team_count_50runs_last15,team_winp_last5,team1only_avg_runs_last15,team1_winp_team2_last15,ground_avg_runs_last15,toss_winner_01,toss_decision_01,inning1_run_rate,inning2_run_rate,inning1_wickets,inning2_wickets,team1_win_rate,team2_win_rate
0,9250275,Jy,28594,7438955.0:8271969.0:8369661.0:3685247.0:2590251.0:7785497.0:7785553.0:3296264.0:4613622.0:2904796.0:3685289.0,Ud Ss of Aa,90,2436944.0:8117500.0:6703528.0:3010748.0:1613870.0:8934764.0:2721480.0:1632819.0:2789604.0:6489846.0:1565507.0,Ud Ss of Aa,field,Bo Ac Cb,Bulawayo,2022-07-11,1,Ud Ss of Aa tr of Ze,2022,3226,0.000000,0.019608,NaN,0.00,NaN,1,0,6.830769,9.402062,6,1,1.000000,0.5
1,9262189,Ga An Ws,36084,3715690.0:6818622.0:4069666.0:393014.0:4690188.0:4739552.0:4690328.0:5744850.0:4739580.0:9266102.0:284339.0,Ja Ts,36098,4690258.0:3761246.0:8464385.0:5742470.0:3150720.0:4690104.0:181404.0:1594319.0:5509524.0:4239794.0:2036649.0,Ja Ts,field,Pe Sm Ga,Providence,2022-09-21,2,Cn Pr Le,2022,13915,0.615385,0.344262,151.285714,66.67,153.500,1,0,9.396226,9.486486,6,2,0.666667,0.6
2,9128776,Rn Rs,30428,8058959.0:2162782.0:2981614.0:7833195.0:7556051.0:2486896.0:184960.0:1945397.0:6420126.0:3011735.0:6347494.0,Lw Sr Gs,48334,2654014.0:2954769.0:8058903.0:3479860.0:3299407.0:2275097.0:2740408.0:3865077.0:7924048.0:4859490.0:8228100.0,Rn Rs,bat,Be Sm Mi,Mumbai,2022-05-15,2,In Pr Le,2022,2764,0.842105,0.753086,171.066667,100.00,179.625,0,1,7.857143,8.621849,8,6,1.000000,1.0
3,9586919,Ja Ts,36098,4690258.0:8464385.0:1613898.0:5744780.0:3150720.0:4690104.0:1594319.0:5509524.0:2036649.0:3023383.0:5471948.0,St La Ks,36112,2331475.0:313809.0:391103.0:2742837.0:2097017.0:7921535.0:7459647.0:8464343.0:4690230.0:8339701.0:4702774.0,St La Ks,field,Dn Sy Nl Ct Sm Gs It St La,Gros Islet,2023-08-16,2,Cn Pr Le,2023,11892,0.285714,1.487805,166.000000,75.00,155.500,1,0,7.171875,7.428571,7,8,0.333333,0.6
4,9128538,Ci Sr Ks,30414,7422673.0:249087.0:62432.0:232000.0:5001170.0:1642738.0:196580.0:360086.0:2022957.0:7968225.0:7879829.0,Gt Ts,48341,1958683.0:7491224.0:3339160.0:5452754.0:2252452.0:2966879.0:5554254.0:4690230.0:3456424.0:3373285.0:8118053.0,Gt Ts,field,Ma Ct An Sm Pe,Pune,2022-04-17,2,In Pr Le,2022,18752,2.375000,0.310330,169.933333,0.00,164.125,1,0,7.809524,6.975610,5,9,0.500000,1.0

In [ ]:
# Function to update series standings and determine leading teams
def update_and_determine_leading_team(match_lvl_data):
    series_standings = {}
    team1_leading = []
    team2_leading = []

    for index, row in match_lvl_data.iterrows():
        series = row['series_name']
        team1 = row['team1']
        team2 = row['team2']
        winner = row['winner']

        if series not in series_standings:
            series_standings[series] = {team1: 0, team2: 0}

        if winner in series_standings[series]:
            series_standings[series][winner] += 1

        team1_wins = series_standings[series].get(team1, 0)
        team2_wins = series_standings[series].get(team2, 0)

        if team1_wins > team2_wins:
            team1_leading.append(1)
            team2_leading.append(0)
        elif team2_wins > team1_wins:
            team1_leading.append(0)
            team2_leading.append(1)
        else:
            team1_leading.append(0)
            team2_leading.append(0)

    match_lvl_data['team1_leading'] = team1_leading
    match_lvl_data['team2_leading'] = team2_leading

    return match_lvl_data

# Update the match_data DataFrame with leading team information
match_lvl_data = update_and_determine_leading_team(match_lvl_data)

# Merge the leading team information with the train_data
train_data = pd.merge(train_data, match_lvl_data[['match id', 'team1_leading', 'team2_leading']], on='match id', how='left')

# Merge the leading team information with the test_data
test_data = pd.merge(test_data, match_lvl_data[['match id', 'team1_leading', 'team2_leading']], on='match id', how='left')

train_data.head()
test_data.head()

,match id,team1,team1_id,team1_roster_ids,team2,team2_id,team2_roster_ids,winner,winner_id,toss winner,toss decision,venue,city,match_dt,lighting,series_name,season,ground_id,team_count_50runs_last15,team_winp_last5,team1only_avg_runs_last15,team1_winp_team2_last15,ground_avg_runs_last15,toss_winner_01,toss_decision_01,inning1_run_rate,inning2_run_rate,inning1_wickets,inning2_wickets,team1_win_rate,team2_win_rate,team1_leading,team2_leading
0,9331181,Ba,11283,9373356.0:7857520.0:4232164.0:4566540.0:3299407.0:232000.0:7883504.0:8725723.0:7878989.0:2526390.0:8725730.0:4017523.0,Hl Ph,12634,3500958.0:4231751.0:2735081.0:2035102.0:3698337.0:5058192.0:6844718.0:4566526.0:6596582.0:4161975.0:7952804.0:8465057.0,Hl Ph,12634,Hl Ph,field,Hr Ct Sm Ie,Indore,20-10-2022,0,Sd Mq Ai Ty,2022/23,7398,1.666667,0.672131,139.000000,100.0,157.178571,1,0,6.830769,9.402062,6,1,0.333333,1.000000,1,0
1,8797060,Ed,20,2089079.0:6139370.0:2076192.0:62432.0:2083409.0:172199.0:2022957.0:1482998.0:1711492.0:4507208.0:3231437.0,Wt Is,41,4690258.0:4069666.0:4230127.0:1942317.0:1613926.0:2740408.0:4739552.0:5744850.0:4690104.0:3715697.0:3468870.0,Ed,20,Wt Is,field,Kn Ol Bn Bs,Bridgetown,23-01-2022,0,Ed tr of Wt Is,2021/22,1406,1.285714,1.952381,156.000000,50.0,103.500000,1,0,9.396226,9.486486,6,2,0.400000,0.600000,1,0
2,9433269,We,10576,3298427.0:2288789.0:7773338.0:3519011.0:3681957.0:7671313.0:5320118.0:2922611.0:7184232.0:7661996.0:6240632.0,Ne,8987,4003390.0:1749075.0:1626526.0:4172447.0:5516720.0:7328110.0:125915.0:130437.0:7507303.0:4420828.0:5652828.0,We,10576,Ne,field,Tt Be Nm,Nottingham,02-06-2023,0,Vy Bt,2023,251,0.857143,0.672131,173.266667,0.0,154.333333,1,0,7.857143,8.621849,8,6,0.500000,0.647059,0,0
3,9587073,Ga An Ws,36084,8127230.0:4690328.0:4069666.0:7960847.0:4690188.0:4739580.0:4739552.0:5744850.0:2294823.0:9266102.0:284339.0,Bs Rs,36070,3462080.0:2436405.0:1798705.0:7550857.0:5742470.0:2740408.0:3575774.0:3200756.0:334963.0:6399210.0:6347494.0,Ga An Ws,36084,Ga An Ws,bat,Bn La Sm Ta Td,Tarouba,10-09-2023,1,Cn Pr Le,2023,14300,2.166667,1.975610,164.266667,50.0,144.250000,0,1,7.171875,7.428571,7,8,0.500000,0.500000,0,1
4,9516457,Pb Ks,30407,8127181.0:197658.0:4239038.0:2398346.0:5053082.0:4640824.0:5038046.0:8180500.0:2035102.0:3851518.0:7881845.0:7453697.0,Gt Ts,48341,1958683.0:7491224.0:8059029.0:4377610.0:2252452.0:2966879.0:5554254.0:4690230.0:3373285.0:3759846.0:6496482.0,Gt Ts,48341,Gt Ts,field,Pb Ct An IS Ba Sm Mi Ch,Chandigarh,13-04-2023,2,In Pr Le,2023,7118,0.818182,1.327869,164.666667,0.0,189.000000,1,0,7.809524,6.975610,5,9,0.250000,1.000000,0,0

,match id,team1,team1_id,team1_roster_ids,team2,team2_id,team2_roster_ids,toss winner,toss decision,venue,city,match_dt,lighting,series_name,season,ground_id,team_count_50runs_last15,team_winp_last5,team1only_avg_runs_last15,team1_winp_team2_last15,ground_avg_runs_last15,toss_winner_01,toss_decision_01,inning1_run_rate,inning2_run_rate,inning1_wickets,inning2_wickets,team1_win_rate,team2_win_rate,team1_leading,team2_leading
0,9250275,Jy,28594,7438955.0:8271969.0:8369661.0:3685247.0:2590251.0:7785497.0:7785553.0:3296264.0:4613622.0:2904796.0:3685289.0,Ud Ss of Aa,90,2436944.0:8117500.0:6703528.0:3010748.0:1613870.0:8934764.0:2721480.0:1632819.0:2789604.0:6489846.0:1565507.0,Ud Ss of Aa,field,Bo Ac Cb,Bulawayo,2022-07-11,1,Ud Ss of Aa tr of Ze,2022,3226,0.000000,0.019608,NaN,0.00,NaN,1,0,6.830769,9.402062,6,1,1.000000,0.5,NaN,NaN
1,9262189,Ga An Ws,36084,3715690.0:6818622.0:4069666.0:393014.0:4690188.0:4739552.0:4690328.0:5744850.0:4739580.0:9266102.0:284339.0,Ja Ts,36098,4690258.0:3761246.0:8464385.0:5742470.0:3150720.0:4690104.0:181404.0:1594319.0:5509524.0:4239794.0:2036649.0,Ja Ts,field,Pe Sm Ga,Providence,2022-09-21,2,Cn Pr Le,2022,13915,0.615385,0.344262,151.285714,66.67,153.500,1,0,9.396226,9.486486,6,2,0.666667,0.6,NaN,NaN
2,9128776,Rn Rs,30428,8058959.0:2162782.0:2981614.0:7833195.0:7556051.0:2486896.0:184960.0:1945397.0:6420126.0:3011735.0:6347494.0,Lw Sr Gs,48334,2654014.0:2954769.0:8058903.0:3479860.0:3299407.0:2275097.0:2740408.0:3865077.0:7924048.0:4859490.0:8228100.0,Rn Rs,bat,Be Sm Mi,Mumbai,2022-05-15,2,In Pr Le,2022,2764,0.842105,0.753086,171.066667,100.00,179.625,0,1,7.857143,8.621849,8,6,1.000000,1.0,NaN,NaN
3,9586919,Ja Ts,36098,4690258.0:8464385.0:1613898.0:5744780.0:3150720.0:4690104.0:1594319.0:5509524.0:2036649.0:3023383.0:5471948.0,St La Ks,36112,2331475.0:313809.0:391103.0:2742837.0:2097017.0:7921535.0:7459647.0:8464343.0:4690230.0:8339701.0:4702774.0,St La Ks,field,Dn Sy Nl Ct Sm Gs It St La,Gros Islet,2023-08-16,2,Cn Pr Le,2023,11892,0.285714,1.487805,166.000000,75.00,155.500,1,0,7.171875,7.428571,7,8,0.333333,0.6,NaN,NaN
4,9128538,Ci Sr Ks,30414,7422673.0:249087.0:62432.0:232000.0:5001170.0:1642738.0:196580.0:360086.0:2022957.0:7968225.0:7879829.0,Gt Ts,48341,1958683.0:7491224.0:3339160.0:5452754.0:2252452.0:2966879.0:5554254.0:4690230.0:3456424.0:3373285.0:8118053.0,Gt Ts,field,Ma Ct An Sm Pe,Pune,2022-04-17,2,In Pr Le,2022,18752,2.375000,0.310330,169.933333,0.00,164.125,1,0,7.809524,6.975610,5,9,0.500000,1.0,NaN,NaN

Adding Features from Batsman Scorecard

In [ ]:
# Average Strike Rate of Each Inning
#Step 1: Calculate average strike rate for inning 1 and inning 2 for each match
avg_strike_rate_inning1 = batsman_lvl_data[batsman_lvl_data['inning'] == 1].groupby('match id')['strike_rate'].mean().reset_index()
avg_strike_rate_inning1.columns = ['match id', 'avg_strike_rate_inning1']

avg_strike_rate_inning2 = batsman_lvl_data[batsman_lvl_data['inning'] == 2].groupby('match id')['strike_rate'].mean().reset_index()
avg_strike_rate_inning2.columns = ['match id', 'avg_strike_rate_inning2']

# Step 2: Merge these average strike rates into the train data based on the match id
train_data = train_data.merge(avg_strike_rate_inning1, on='match id', how='left')
train_data = train_data.merge(avg_strike_rate_inning2, on='match id', how='left')

# Step 3: Merge these average strike rates into the test data based on the match id
test_data = test_data.merge(avg_strike_rate_inning1, on='match id', how='left')
test_data = test_data.merge(avg_strike_rate_inning2, on='match id', how='left')

train_data.head()
test_data.head()

,match id,team1,team1_id,team1_roster_ids,team2,team2_id,team2_roster_ids,winner,winner_id,toss winner,toss decision,venue,city,match_dt,lighting,series_name,season,ground_id,team_count_50runs_last15,team_winp_last5,team1only_avg_runs_last15,team1_winp_team2_last15,ground_avg_runs_last15,toss_winner_01,toss_decision_01,inning1_run_rate,inning2_run_rate,inning1_wickets,inning2_wickets,team1_win_rate,team2_win_rate,team1_leading,team2_leading,avg_strike_rate_inning1,avg_strike_rate_inning2
0,9331181,Ba,11283,9373356.0:7857520.0:4232164.0:4566540.0:3299407.0:232000.0:7883504.0:8725723.0:7878989.0:2526390.0:8725730.0:4017523.0,Hl Ph,12634,3500958.0:4231751.0:2735081.0:2035102.0:3698337.0:5058192.0:6844718.0:4566526.0:6596582.0:4161975.0:7952804.0:8465057.0,Hl Ph,12634,Hl Ph,field,Hr Ct Sm Ie,Indore,20-10-2022,0,Sd Mq Ai Ty,2022/23,7398,1.666667,0.672131,139.000000,100.0,157.178571,1,0,6.830769,9.402062,6,1,0.333333,1.000000,1,0,100.848333,92.110000
1,8797060,Ed,20,2089079.0:6139370.0:2076192.0:62432.0:2083409.0:172199.0:2022957.0:1482998.0:1711492.0:4507208.0:3231437.0,Wt Is,41,4690258.0:4069666.0:4230127.0:1942317.0:1613926.0:2740408.0:4739552.0:5744850.0:4690104.0:3715697.0:3468870.0,Ed,20,Wt Is,field,Kn Ol Bn Bs,Bridgetown,23-01-2022,0,Ed tr of Wt Is,2021/22,1406,1.285714,1.952381,156.000000,50.0,103.500000,1,0,9.396226,9.486486,6,2,0.400000,0.600000,1,0,131.465000,106.254000
2,9433269,We,10576,3298427.0:2288789.0:7773338.0:3519011.0:3681957.0:7671313.0:5320118.0:2922611.0:7184232.0:7661996.0:6240632.0,Ne,8987,4003390.0:1749075.0:1626526.0:4172447.0:5516720.0:7328110.0:125915.0:130437.0:7507303.0:4420828.0:5652828.0,We,10576,Ne,field,Tt Be Nm,Nottingham,02-06-2023,0,Vy Bt,2023,251,0.857143,0.672131,173.266667,0.0,154.333333,1,0,7.857143,8.621849,8,6,0.500000,0.647059,0,0,143.002857,118.129091
3,9587073,Ga An Ws,36084,8127230.0:4690328.0:4069666.0:7960847.0:4690188.0:4739580.0:4739552.0:5744850.0:2294823.0:9266102.0:284339.0,Bs Rs,36070,3462080.0:2436405.0:1798705.0:7550857.0:5742470.0:2740408.0:3575774.0:3200756.0:334963.0:6399210.0:6347494.0,Ga An Ws,36084,Ga An Ws,bat,Bn La Sm Ta Td,Tarouba,10-09-2023,1,Cn Pr Le,2023,14300,2.166667,1.975610,164.266667,50.0,144.250000,0,1,7.171875,7.428571,7,8,0.500000,0.500000,0,1,120.443636,130.148889
4,9516457,Pb Ks,30407,8127181.0:197658.0:4239038.0:2398346.0:5053082.0:4640824.0:5038046.0:8180500.0:2035102.0:3851518.0:7881845.0:7453697.0,Gt Ts,48341,1958683.0:7491224.0:8059029.0:4377610.0:2252452.0:2966879.0:5554254.0:4690230.0:3373285.0:3759846.0:6496482.0,Gt Ts,48341,Gt Ts,field,Pb Ct An IS Ba Sm Mi Ch,Chandigarh,13-04-2023,2,In Pr Le,2023,7118,0.818182,1.327869,164.666667,0.0,189.000000,1,0,7.809524,6.975610,5,9,0.250000,1.000000,0,0,130.007500,134.465000

,match id,team1,team1_id,team1_roster_ids,team2,team2_id,team2_roster_ids,toss winner,toss decision,venue,city,match_dt,lighting,series_name,season,ground_id,team_count_50runs_last15,team_winp_last5,team1only_avg_runs_last15,team1_winp_team2_last15,ground_avg_runs_last15,toss_winner_01,toss_decision_01,inning1_run_rate,inning2_run_rate,inning1_wickets,inning2_wickets,team1_win_rate,team2_win_rate,team1_leading,team2_leading,avg_strike_rate_inning1,avg_strike_rate_inning2
0,9250275,Jy,28594,7438955.0:8271969.0:8369661.0:3685247.0:2590251.0:7785497.0:7785553.0:3296264.0:4613622.0:2904796.0:3685289.0,Ud Ss of Aa,90,2436944.0:8117500.0:6703528.0:3010748.0:1613870.0:8934764.0:2721480.0:1632819.0:2789604.0:6489846.0:1565507.0,Ud Ss of Aa,field,Bo Ac Cb,Bulawayo,2022-07-11,1,Ud Ss of Aa tr of Ze,2022,3226,0.000000,0.019608,NaN,0.00,NaN,1,0,6.830769,9.402062,6,1,1.000000,0.5,NaN,NaN,NaN,NaN
1,9262189,Ga An Ws,36084,3715690.0:6818622.0:4069666.0:393014.0:4690188.0:4739552.0:4690328.0:5744850.0:4739580.0:9266102.0:284339.0,Ja Ts,36098,4690258.0:3761246.0:8464385.0:5742470.0:3150720.0:4690104.0:181404.0:1594319.0:5509524.0:4239794.0:2036649.0,Ja Ts,field,Pe Sm Ga,Providence,2022-09-21,2,Cn Pr Le,2022,13915,0.615385,0.344262,151.285714,66.67,153.500,1,0,9.396226,9.486486,6,2,0.666667,0.6,NaN,NaN,NaN,NaN
2,9128776,Rn Rs,30428,8058959.0:2162782.0:2981614.0:7833195.0:7556051.0:2486896.0:184960.0:1945397.0:6420126.0:3011735.0:6347494.0,Lw Sr Gs,48334,2654014.0:2954769.0:8058903.0:3479860.0:3299407.0:2275097.0:2740408.0:3865077.0:7924048.0:4859490.0:8228100.0,Rn Rs,bat,Be Sm Mi,Mumbai,2022-05-15,2,In Pr Le,2022,2764,0.842105,0.753086,171.066667,100.00,179.625,0,1,7.857143,8.621849,8,6,1.000000,1.0,NaN,NaN,NaN,NaN
3,9586919,Ja Ts,36098,4690258.0:8464385.0:1613898.0:5744780.0:3150720.0:4690104.0:1594319.0:5509524.0:2036649.0:3023383.0:5471948.0,St La Ks,36112,2331475.0:313809.0:391103.0:2742837.0:2097017.0:7921535.0:7459647.0:8464343.0:4690230.0:8339701.0:4702774.0,St La Ks,field,Dn Sy Nl Ct Sm Gs It St La,Gros Islet,2023-08-16,2,Cn Pr Le,2023,11892,0.285714,1.487805,166.000000,75.00,155.500,1,0,7.171875,7.428571,7,8,0.333333,0.6,NaN,NaN,NaN,NaN
4,9128538,Ci Sr Ks,30414,7422673.0:249087.0:62432.0:232000.0:5001170.0:1642738.0:196580.0:360086.0:2022957.0:7968225.0:7879829.0,Gt Ts,48341,1958683.0:7491224.0:3339160.0:5452754.0:2252452.0:2966879.0:5554254.0:4690230.0:3456424.0:3373285.0:8118053.0,Gt Ts,field,Ma Ct An Sm Pe,Pune,2022-04-17,2,In Pr Le,2022,18752,2.375000,0.310330,169.933333,0.00,164.125,1,0,7.809524,6.975610,5,9,0.500000,1.0,NaN,NaN,NaN,NaN

In [ ]:
# Calculate total boundaries (fours + sixes) for each inning
batsman_lvl_data['total_boundaries'] = batsman_lvl_data['Fours'] + batsman_lvl_data['Sixes']

# Group by match_id and innings to get the total boundaries for each innings
boundaries_by_innings = batsman_lvl_data.groupby(['match id', 'inning'])['total_boundaries'].sum().unstack()

# Rename columns to match the required format
boundaries_by_innings.columns = ['total_boundaries_inning1', 'total_boundaries_inning2']

# Merge the total boundaries data with the train dataset based on match_id
train_data = train_data.merge(boundaries_by_innings, on='match id', how='left')

# Merge the total boundaries data with the test dataset based on match_id
test_data = test_data.merge(boundaries_by_innings, on='match id', how='left')

train_data.head()
test_data.head()

,match id,team1,team1_id,team1_roster_ids,team2,team2_id,team2_roster_ids,winner,winner_id,toss winner,toss decision,venue,city,match_dt,lighting,series_name,season,ground_id,team_count_50runs_last15,team_winp_last5,team1only_avg_runs_last15,team1_winp_team2_last15,ground_avg_runs_last15,toss_winner_01,toss_decision_01,inning1_run_rate,inning2_run_rate,inning1_wickets,inning2_wickets,team1_win_rate,team2_win_rate,team1_leading,team2_leading,avg_strike_rate_inning1,avg_strike_rate_inning2,total_boundaries_inning1,total_boundaries_inning2
0,9331181,Ba,11283,9373356.0:7857520.0:4232164.0:4566540.0:3299407.0:232000.0:7883504.0:8725723.0:7878989.0:2526390.0:8725730.0:4017523.0,Hl Ph,12634,3500958.0:4231751.0:2735081.0:2035102.0:3698337.0:5058192.0:6844718.0:4566526.0:6596582.0:4161975.0:7952804.0:8465057.0,Hl Ph,12634,Hl Ph,field,Hr Ct Sm Ie,Indore,20-10-2022,0,Sd Mq Ai Ty,2022/23,7398,1.666667,0.672131,139.000000,100.0,157.178571,1,0,6.830769,9.402062,6,1,0.333333,1.000000,1,0,100.848333,92.110000,0.0,6.0
1,8797060,Ed,20,2089079.0:6139370.0:2076192.0:62432.0:2083409.0:172199.0:2022957.0:1482998.0:1711492.0:4507208.0:3231437.0,Wt Is,41,4690258.0:4069666.0:4230127.0:1942317.0:1613926.0:2740408.0:4739552.0:5744850.0:4690104.0:3715697.0:3468870.0,Ed,20,Wt Is,field,Kn Ol Bn Bs,Bridgetown,23-01-2022,0,Ed tr of Wt Is,2021/22,1406,1.285714,1.952381,156.000000,50.0,103.500000,1,0,9.396226,9.486486,6,2,0.400000,0.600000,1,0,131.465000,106.254000,19.0,19.0
2,9433269,We,10576,3298427.0:2288789.0:7773338.0:3519011.0:3681957.0:7671313.0:5320118.0:2922611.0:7184232.0:7661996.0:6240632.0,Ne,8987,4003390.0:1749075.0:1626526.0:4172447.0:5516720.0:7328110.0:125915.0:130437.0:7507303.0:4420828.0:5652828.0,We,10576,Ne,field,Tt Be Nm,Nottingham,02-06-2023,0,Vy Bt,2023,251,0.857143,0.672131,173.266667,0.0,154.333333,1,0,7.857143,8.621849,8,6,0.500000,0.647059,0,0,143.002857,118.129091,29.0,20.0
3,9587073,Ga An Ws,36084,8127230.0:4690328.0:4069666.0:7960847.0:4690188.0:4739580.0:4739552.0:5744850.0:2294823.0:9266102.0:284339.0,Bs Rs,36070,3462080.0:2436405.0:1798705.0:7550857.0:5742470.0:2740408.0:3575774.0:3200756.0:334963.0:6399210.0:6347494.0,Ga An Ws,36084,Ga An Ws,bat,Bn La Sm Ta Td,Tarouba,10-09-2023,1,Cn Pr Le,2023,14300,2.166667,1.975610,164.266667,50.0,144.250000,0,1,7.171875,7.428571,7,8,0.500000,0.500000,0,1,120.443636,130.148889,18.0,16.0
4,9516457,Pb Ks,30407,8127181.0:197658.0:4239038.0:2398346.0:5053082.0:4640824.0:5038046.0:8180500.0:2035102.0:3851518.0:7881845.0:7453697.0,Gt Ts,48341,1958683.0:7491224.0:8059029.0:4377610.0:2252452.0:2966879.0:5554254.0:4690230.0:3373285.0:3759846.0:6496482.0,Gt Ts,48341,Gt Ts,field,Pb Ct An IS Ba Sm Mi Ch,Chandigarh,13-04-2023,2,In Pr Le,2023,7118,0.818182,1.327869,164.666667,0.0,189.000000,1,0,7.809524,6.975610,5,9,0.250000,1.000000,0,0,130.007500,134.465000,12.0,8.0

,match id,team1,team1_id,team1_roster_ids,team2,team2_id,team2_roster_ids,toss winner,toss decision,venue,city,match_dt,lighting,series_name,season,ground_id,team_count_50runs_last15,team_winp_last5,team1only_avg_runs_last15,team1_winp_team2_last15,ground_avg_runs_last15,toss_winner_01,toss_decision_01,inning1_run_rate,inning2_run_rate,inning1_wickets,inning2_wickets,team1_win_rate,team2_win_rate,team1_leading,team2_leading,avg_strike_rate_inning1,avg_strike_rate_inning2,total_boundaries_inning1,total_boundaries_inning2
0,9250275,Jy,28594,7438955.0:8271969.0:8369661.0:3685247.0:2590251.0:7785497.0:7785553.0:3296264.0:4613622.0:2904796.0:3685289.0,Ud Ss of Aa,90,2436944.0:8117500.0:6703528.0:3010748.0:1613870.0:8934764.0:2721480.0:1632819.0:2789604.0:6489846.0:1565507.0,Ud Ss of Aa,field,Bo Ac Cb,Bulawayo,2022-07-11,1,Ud Ss of Aa tr of Ze,2022,3226,0.000000,0.019608,NaN,0.00,NaN,1,0,6.830769,9.402062,6,1,1.000000,0.5,NaN,NaN,NaN,NaN,NaN,NaN
1,9262189,Ga An Ws,36084,3715690.0:6818622.0:4069666.0:393014.0:4690188.0:4739552.0:4690328.0:5744850.0:4739580.0:9266102.0:284339.0,Ja Ts,36098,4690258.0:3761246.0:8464385.0:5742470.0:3150720.0:4690104.0:181404.0:1594319.0:5509524.0:4239794.0:2036649.0,Ja Ts,field,Pe Sm Ga,Providence,2022-09-21,2,Cn Pr Le,2022,13915,0.615385,0.344262,151.285714,66.67,153.500,1,0,9.396226,9.486486,6,2,0.666667,0.6,NaN,NaN,NaN,NaN,NaN,NaN
2,9128776,Rn Rs,30428,8058959.0:2162782.0:2981614.0:7833195.0:7556051.0:2486896.0:184960.0:1945397.0:6420126.0:3011735.0:6347494.0,Lw Sr Gs,48334,2654014.0:2954769.0:8058903.0:3479860.0:3299407.0:2275097.0:2740408.0:3865077.0:7924048.0:4859490.0:8228100.0,Rn Rs,bat,Be Sm Mi,Mumbai,2022-05-15,2,In Pr Le,2022,2764,0.842105,0.753086,171.066667,100.00,179.625,0,1,7.857143,8.621849,8,6,1.000000,1.0,NaN,NaN,NaN,NaN,NaN,NaN
3,9586919,Ja Ts,36098,4690258.0:8464385.0:1613898.0:5744780.0:3150720.0:4690104.0:1594319.0:5509524.0:2036649.0:3023383.0:5471948.0,St La Ks,36112,2331475.0:313809.0:391103.0:2742837.0:2097017.0:7921535.0:7459647.0:8464343.0:4690230.0:8339701.0:4702774.0,St La Ks,field,Dn Sy Nl Ct Sm Gs It St La,Gros Islet,2023-08-16,2,Cn Pr Le,2023,11892,0.285714,1.487805,166.000000,75.00,155.500,1,0,7.171875,7.428571,7,8,0.333333,0.6,NaN,NaN,NaN,NaN,NaN,NaN
4,9128538,Ci Sr Ks,30414,7422673.0:249087.0:62432.0:232000.0:5001170.0:1642738.0:196580.0:360086.0:2022957.0:7968225.0:7879829.0,Gt Ts,48341,1958683.0:7491224.0:3339160.0:5452754.0:2252452.0:2966879.0:5554254.0:4690230.0:3456424.0:3373285.0:8118053.0,Gt Ts,field,Ma Ct An Sm Pe,Pune,2022-04-17,2,In Pr Le,2022,18752,2.375000,0.310330,169.933333,0.00,164.125,1,0,7.809524,6.975610,5,9,0.500000,1.0,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#Total Runs scored by each team
# Calculate total runs scored by each team

inning1_runs = batsman_lvl_data[batsman_lvl_data['inning'] == 1].groupby('match id')['runs'].sum().reset_index()
inning1_runs.columns = ['match id', 'inning1_runs']

inning2_runs = batsman_lvl_data[batsman_lvl_data['inning'] == 2].groupby('match id')['runs'].sum().reset_index()
inning2_runs.columns = ['match id', 'inning2_runs']

# Step 2: Merge these average strike rates into the train data based on the match id
train_data = train_data.merge(inning1_runs, on='match id', how='left')
train_data = train_data.merge(inning2_runs, on='match id', how='left')

# Step 3: Merge these average strike rates into the test data based on the match id
test_data = test_data.merge(inning1_runs, on='match id', how='left')
test_data = test_data.merge(inning2_runs, on='match id', how='left')

train_data.head()

,match id,team1,team1_id,team1_roster_ids,team2,team2_id,team2_roster_ids,winner,winner_id,toss winner,toss decision,venue,city,match_dt,lighting,series_name,season,ground_id,team_count_50runs_last15,team_winp_last5,team1only_avg_runs_last15,team1_winp_team2_last15,ground_avg_runs_last15,toss_winner_01,toss_decision_01,inning1_run_rate,inning2_run_rate,inning1_wickets,inning2_wickets,team1_win_rate,team2_win_rate,team1_leading,team2_leading,avg_strike_rate_inning1,avg_strike_rate_inning2,total_boundaries_inning1,total_boundaries_inning2,inning1_runs,inning2_runs
0,9331181,Ba,11283,9373356.0:7857520.0:4232164.0:4566540.0:3299407.0:232000.0:7883504.0:8725723.0:7878989.0:2526390.0:8725730.0:4017523.0,Hl Ph,12634,3500958.0:4231751.0:2735081.0:2035102.0:3698337.0:5058192.0:6844718.0:4566526.0:6596582.0:4161975.0:7952804.0:8465057.0,Hl Ph,12634,Hl Ph,field,Hr Ct Sm Ie,Indore,20-10-2022,0,Sd Mq Ai Ty,2022/23,7398,1.666667,0.672131,139.000000,100.0,157.178571,1,0,6.830769,9.402062,6,1,0.333333,1.000000,1,0,100.848333,92.110000,0.0,6.0,72,65.0
1,8797060,Ed,20,2089079.0:6139370.0:2076192.0:62432.0:2083409.0:172199.0:2022957.0:1482998.0:1711492.0:4507208.0:3231437.0,Wt Is,41,4690258.0:4069666.0:4230127.0:1942317.0:1613926.0:2740408.0:4739552.0:5744850.0:4690104.0:3715697.0:3468870.0,Ed,20,Wt Is,field,Kn Ol Bn Bs,Bridgetown,23-01-2022,0,Ed tr of Wt Is,2021/22,1406,1.285714,1.952381,156.000000,50.0,103.500000,1,0,9.396226,9.486486,6,2,0.400000,0.600000,1,0,131.465000,106.254000,19.0,19.0,163,158.0
2,9433269,We,10576,3298427.0:2288789.0:7773338.0:3519011.0:3681957.0:7671313.0:5320118.0:2922611.0:7184232.0:7661996.0:6240632.0,Ne,8987,4003390.0:1749075.0:1626526.0:4172447.0:5516720.0:7328110.0:125915.0:130437.0:7507303.0:4420828.0:5652828.0,We,10576,Ne,field,Tt Be Nm,Nottingham,02-06-2023,0,Vy Bt,2023,251,0.857143,0.672131,173.266667,0.0,154.333333,1,0,7.857143,8.621849,8,6,0.500000,0.647059,0,0,143.002857,118.129091,29.0,20.0,209,163.0
3,9587073,Ga An Ws,36084,8127230.0:4690328.0:4069666.0:7960847.0:4690188.0:4739580.0:4739552.0:5744850.0:2294823.0:9266102.0:284339.0,Bs Rs,36070,3462080.0:2436405.0:1798705.0:7550857.0:5742470.0:2740408.0:3575774.0:3200756.0:334963.0:6399210.0:6347494.0,Ga An Ws,36084,Ga An Ws,bat,Bn La Sm Ta Td,Tarouba,10-09-2023,1,Cn Pr Le,2023,14300,2.166667,1.975610,164.266667,50.0,144.250000,0,1,7.171875,7.428571,7,8,0.500000,0.500000,0,1,120.443636,130.148889,18.0,16.0,169,167.0
4,9516457,Pb Ks,30407,8127181.0:197658.0:4239038.0:2398346.0:5053082.0:4640824.0:5038046.0:8180500.0:2035102.0:3851518.0:7881845.0:7453697.0,Gt Ts,48341,1958683.0:7491224.0:8059029.0:4377610.0:2252452.0:2966879.0:5554254.0:4690230.0:3373285.0:3759846.0:6496482.0,Gt Ts,48341,Gt Ts,field,Pb Ct An IS Ba Sm Mi Ch,Chandigarh,13-04-2023,2,In Pr Le,2023,7118,0.818182,1.327869,164.666667,0.0,189.000000,1,0,7.809524,6.975610,5,9,0.250000,1.000000,0,0,130.007500,134.465000,12.0,8.0,142,146.0

Features from Bowler Data

In [ ]:
# Economy Rate of Bowlers in each inning

ER_inning1 = bowler_lvl_data[bowler_lvl_data['inning'] == 1].groupby('match id')['economy'].mean().reset_index()
ER_inning1.columns = ['match id', 'ER_inning1']

ER_inning2 = bowler_lvl_data[bowler_lvl_data['inning'] == 2].groupby('match id')['economy'].mean().reset_index()
ER_inning2.columns = ['match id', 'ER_inning2']

# Merge the average economy rates into the train data
train_data = train_data.merge(ER_inning1, on='match id', how='left', suffixes=('_x', '_inning1'))
train_data = train_data.merge(ER_inning2, on='match id', how='left', suffixes=('_x', '_inning2'))

# Merge the average economy rates into the test data
test_data = test_data.merge(ER_inning1, on='match id', how='left', suffixes=('_x', '_inning1'))
test_data = test_data.merge(ER_inning2, on='match id', how='left', suffixes=('_x', '_inning2'))

train_data.head()

,match id,team1,team1_id,team1_roster_ids,team2,team2_id,team2_roster_ids,winner,winner_id,toss winner,toss decision,venue,city,match_dt,lighting,series_name,season,ground_id,team_count_50runs_last15,team_winp_last5,team1only_avg_runs_last15,team1_winp_team2_last15,ground_avg_runs_last15,toss_winner_01,toss_decision_01,inning1_run_rate,inning2_run_rate,inning1_wickets,inning2_wickets,team1_win_rate,team2_win_rate,team1_leading,team2_leading,avg_strike_rate_inning1,avg_strike_rate_inning2,total_boundaries_inning1,total_boundaries_inning2,inning1_runs,inning2_runs,ER_inning1,ER_inning2
0,9331181,Ba,11283,9373356.0:7857520.0:4232164.0:4566540.0:3299407.0:232000.0:7883504.0:8725723.0:7878989.0:2526390.0:8725730.0:4017523.0,Hl Ph,12634,3500958.0:4231751.0:2735081.0:2035102.0:3698337.0:5058192.0:6844718.0:4566526.0:6596582.0:4161975.0:7952804.0:8465057.0,Hl Ph,12634,Hl Ph,field,Hr Ct Sm Ie,Indore,20-10-2022,0,Sd Mq Ai Ty,2022/23,7398,1.666667,0.672131,139.000000,100.0,157.178571,1,0,6.830769,9.402062,6,1,0.333333,1.000000,1,0,100.848333,92.110000,0.0,6.0,72,65.0,7.375000,6.835000
1,8797060,Ed,20,2089079.0:6139370.0:2076192.0:62432.0:2083409.0:172199.0:2022957.0:1482998.0:1711492.0:4507208.0:3231437.0,Wt Is,41,4690258.0:4069666.0:4230127.0:1942317.0:1613926.0:2740408.0:4739552.0:5744850.0:4690104.0:3715697.0:3468870.0,Ed,20,Wt Is,field,Kn Ol Bn Bs,Bridgetown,23-01-2022,0,Ed tr of Wt Is,2021/22,1406,1.285714,1.952381,156.000000,50.0,103.500000,1,0,9.396226,9.486486,6,2,0.400000,0.600000,1,0,131.465000,106.254000,19.0,19.0,163,158.0,8.736667,8.958333
2,9433269,We,10576,3298427.0:2288789.0:7773338.0:3519011.0:3681957.0:7671313.0:5320118.0:2922611.0:7184232.0:7661996.0:6240632.0,Ne,8987,4003390.0:1749075.0:1626526.0:4172447.0:5516720.0:7328110.0:125915.0:130437.0:7507303.0:4420828.0:5652828.0,We,10576,Ne,field,Tt Be Nm,Nottingham,02-06-2023,0,Vy Bt,2023,251,0.857143,0.672131,173.266667,0.0,154.333333,1,0,7.857143,8.621849,8,6,0.500000,0.647059,0,0,143.002857,118.129091,29.0,20.0,209,163.0,12.013333,8.805000
3,9587073,Ga An Ws,36084,8127230.0:4690328.0:4069666.0:7960847.0:4690188.0:4739580.0:4739552.0:5744850.0:2294823.0:9266102.0:284339.0,Bs Rs,36070,3462080.0:2436405.0:1798705.0:7550857.0:5742470.0:2740408.0:3575774.0:3200756.0:334963.0:6399210.0:6347494.0,Ga An Ws,36084,Ga An Ws,bat,Bn La Sm Ta Td,Tarouba,10-09-2023,1,Cn Pr Le,2023,14300,2.166667,1.975610,164.266667,50.0,144.250000,0,1,7.171875,7.428571,7,8,0.500000,0.500000,0,1,120.443636,130.148889,18.0,16.0,169,167.0,10.261429,8.678571
4,9516457,Pb Ks,30407,8127181.0:197658.0:4239038.0:2398346.0:5053082.0:4640824.0:5038046.0:8180500.0:2035102.0:3851518.0:7881845.0:7453697.0,Gt Ts,48341,1958683.0:7491224.0:8059029.0:4377610.0:2252452.0:2966879.0:5554254.0:4690230.0:3373285.0:3759846.0:6496482.0,Gt Ts,48341,Gt Ts,field,Pb Ct An IS Ba Sm Mi Ch,Chandigarh,13-04-2023,2,In Pr Le,2023,7118,0.818182,1.327869,164.666667,0.0,189.000000,1,0,7.809524,6.975610,5,9,0.250000,1.000000,0,0,130.007500,134.465000,12.0,8.0,142,146.0,7.500000,7.461667

In [ ]:
#Bowling Average
bowler_lvl_data['BowlingAverage'] = bowler_lvl_data['runs'] / bowler_lvl_data['wicket_count']
bowl_avg_i1 = bowler_lvl_data[bowler_lvl_data['inning'] == 1].groupby('match id')['BowlingAverage'].mean().reset_index()
bowl_avg_i1.columns = ['match id', 'bowling_avg_i1']

bowl_avg_i2 = bowler_lvl_data[bowler_lvl_data['inning'] == 2].groupby('match id')['BowlingAverage'].mean().reset_index()
bowl_avg_i2.columns = ['match id', 'bowling_avg_i2']

# Merge into the train data
train_data = train_data.merge(bowl_avg_i1, on='match id', how='left')
train_data = train_data.merge(bowl_avg_i2, on='match id', how='left')

# Merge into the test data
test_data = test_data.merge(bowl_avg_i1, on='match id', how='left')
test_data = test_data.merge(bowl_avg_i2, on='match id', how='left')

train_data.head()

,match id,team1,team1_id,team1_roster_ids,team2,team2_id,team2_roster_ids,winner,winner_id,toss winner,toss decision,venue,city,match_dt,lighting,series_name,season,ground_id,team_count_50runs_last15,team_winp_last5,team1only_avg_runs_last15,team1_winp_team2_last15,ground_avg_runs_last15,toss_winner_01,toss_decision_01,inning1_run_rate,inning2_run_rate,inning1_wickets,inning2_wickets,team1_win_rate,team2_win_rate,team1_leading,team2_leading,avg_strike_rate_inning1,avg_strike_rate_inning2,total_boundaries_inning1,total_boundaries_inning2,inning1_runs,inning2_runs,ER_inning1,ER_inning2,bowling_avg_i1,bowling_avg_i2
0,9331181,Ba,11283,9373356.0:7857520.0:4232164.0:4566540.0:3299407.0:232000.0:7883504.0:8725723.0:7878989.0:2526390.0:8725730.0:4017523.0,Hl Ph,12634,3500958.0:4231751.0:2735081.0:2035102.0:3698337.0:5058192.0:6844718.0:4566526.0:6596582.0:4161975.0:7952804.0:8465057.0,Hl Ph,12634,Hl Ph,field,Hr Ct Sm Ie,Indore,20-10-2022,0,Sd Mq Ai Ty,2022/23,7398,1.666667,0.672131,139.000000,100.0,157.178571,1,0,6.830769,9.402062,6,1,0.333333,1.000000,1,0,100.848333,92.110000,0.0,6.0,72,65.0,7.375000,6.835000,14.75,NaN
1,8797060,Ed,20,2089079.0:6139370.0:2076192.0:62432.0:2083409.0:172199.0:2022957.0:1482998.0:1711492.0:4507208.0:3231437.0,Wt Is,41,4690258.0:4069666.0:4230127.0:1942317.0:1613926.0:2740408.0:4739552.0:5744850.0:4690104.0:3715697.0:3468870.0,Ed,20,Wt Is,field,Kn Ol Bn Bs,Bridgetown,23-01-2022,0,Ed tr of Wt Is,2021/22,1406,1.285714,1.952381,156.000000,50.0,103.500000,1,0,9.396226,9.486486,6,2,0.400000,0.600000,1,0,131.465000,106.254000,19.0,19.0,163,158.0,8.736667,8.958333,22.25,NaN
2,9433269,We,10576,3298427.0:2288789.0:7773338.0:3519011.0:3681957.0:7671313.0:5320118.0:2922611.0:7184232.0:7661996.0:6240632.0,Ne,8987,4003390.0:1749075.0:1626526.0:4172447.0:5516720.0:7328110.0:125915.0:130437.0:7507303.0:4420828.0:5652828.0,We,10576,Ne,field,Tt Be Nm,Nottingham,02-06-2023,0,Vy Bt,2023,251,0.857143,0.672131,173.266667,0.0,154.333333,1,0,7.857143,8.621849,8,6,0.500000,0.647059,0,0,143.002857,118.129091,29.0,20.0,209,163.0,12.013333,8.805000,NaN,NaN
3,9587073,Ga An Ws,36084,8127230.0:4690328.0:4069666.0:7960847.0:4690188.0:4739580.0:4739552.0:5744850.0:2294823.0:9266102.0:284339.0,Bs Rs,36070,3462080.0:2436405.0:1798705.0:7550857.0:5742470.0:2740408.0:3575774.0:3200756.0:334963.0:6399210.0:6347494.0,Ga An Ws,36084,Ga An Ws,bat,Bn La Sm Ta Td,Tarouba,10-09-2023,1,Cn Pr Le,2023,14300,2.166667,1.975610,164.266667,50.0,144.250000,0,1,7.171875,7.428571,7,8,0.500000,0.500000,0,1,120.443636,130.148889,18.0,16.0,169,167.0,10.261429,8.678571,NaN,NaN
4,9516457,Pb Ks,30407,8127181.0:197658.0:4239038.0:2398346.0:5053082.0:4640824.0:5038046.0:8180500.0:2035102.0:3851518.0:7881845.0:7453697.0,Gt Ts,48341,1958683.0:7491224.0:8059029.0:4377610.0:2252452.0:2966879.0:5554254.0:4690230.0:3373285.0:3759846.0:6496482.0,Gt Ts,48341,Gt Ts,field,Pb Ct An IS Ba Sm Mi Ch,Chandigarh,13-04-2023,2,In Pr Le,2023,7118,0.818182,1.327869,164.666667,0.0,189.000000,1,0,7.809524,6.975610,5,9,0.250000,1.000000,0,0,130.007500,134.465000,12.0,8.0,142,146.0,7.500000,7.461667,27.75,NaN

In [ ]:
#Bowler Strike Rate
bowler_lvl_data['StrikeRate'] = bowler_lvl_data['balls_bowled'] / (6 * bowler_lvl_data['wicket_count'])
bowl_strikerate_i1 = bowler_lvl_data[bowler_lvl_data['inning'] == 1].groupby('match id')['StrikeRate'].mean().reset_index()
bowl_strikerate_i1.columns = ['match id', 'bowling_strikerate_i1']

bowl_strikerate_i2 = bowler_lvl_data[bowler_lvl_data['inning'] == 2].groupby('match id')['StrikeRate'].mean().reset_index()
bowl_strikerate_i2.columns = ['match id', 'bowling_strikerate_i2']

# Merge into the train data
train_data = train_data.merge(bowl_strikerate_i1, on='match id', how='left', suffixes=('_x', '_i1'))
train_data = train_data.merge(bowl_strikerate_i2, on='match id', how='left', suffixes=('_x', '_i1'))

# Merge into the test data
test_data = test_data.merge(bowl_strikerate_i1, on='match id', how='left', suffixes=('_x', '_i1'))
test_data = test_data.merge(bowl_strikerate_i2, on='match id', how='left', suffixes=('_x', '_i1'))

train_data.head()

,match id,team1,team1_id,team1_roster_ids,team2,team2_id,team2_roster_ids,winner,winner_id,toss winner,toss decision,venue,city,match_dt,lighting,series_name,season,ground_id,team_count_50runs_last15,team_winp_last5,team1only_avg_runs_last15,team1_winp_team2_last15,ground_avg_runs_last15,toss_winner_01,toss_decision_01,inning1_run_rate,inning2_run_rate,inning1_wickets,inning2_wickets,team1_win_rate,team2_win_rate,team1_leading,team2_leading,avg_strike_rate_inning1,avg_strike_rate_inning2,total_boundaries_inning1,total_boundaries_inning2,inning1_runs,inning2_runs,ER_inning1,ER_inning2,bowling_avg_i1,bowling_avg_i2,bowling_strikerate_i1,bowling_strikerate_i2
0,9331181,Ba,11283,9373356.0:7857520.0:4232164.0:4566540.0:3299407.0:232000.0:7883504.0:8725723.0:7878989.0:2526390.0:8725730.0:4017523.0,Hl Ph,12634,3500958.0:4231751.0:2735081.0:2035102.0:3698337.0:5058192.0:6844718.0:4566526.0:6596582.0:4161975.0:7952804.0:8465057.0,Hl Ph,12634,Hl Ph,field,Hr Ct Sm Ie,Indore,20-10-2022,0,Sd Mq Ai Ty,2022/23,7398,1.666667,0.672131,139.000000,100.0,157.178571,1,0,6.830769,9.402062,6,1,0.333333,1.000000,1,0,100.848333,92.110000,0.0,6.0,72,65.0,7.375000,6.835000,14.75,NaN,2.000000,NaN
1,8797060,Ed,20,2089079.0:6139370.0:2076192.0:62432.0:2083409.0:172199.0:2022957.0:1482998.0:1711492.0:4507208.0:3231437.0,Wt Is,41,4690258.0:4069666.0:4230127.0:1942317.0:1613926.0:2740408.0:4739552.0:5744850.0:4690104.0:3715697.0:3468870.0,Ed,20,Wt Is,field,Kn Ol Bn Bs,Bridgetown,23-01-2022,0,Ed tr of Wt Is,2021/22,1406,1.285714,1.952381,156.000000,50.0,103.500000,1,0,9.396226,9.486486,6,2,0.400000,0.600000,1,0,131.465000,106.254000,19.0,19.0,163,158.0,8.736667,8.958333,22.25,NaN,2.666667,NaN
2,9433269,We,10576,3298427.0:2288789.0:7773338.0:3519011.0:3681957.0:7671313.0:5320118.0:2922611.0:7184232.0:7661996.0:6240632.0,Ne,8987,4003390.0:1749075.0:1626526.0:4172447.0:5516720.0:7328110.0:125915.0:130437.0:7507303.0:4420828.0:5652828.0,We,10576,Ne,field,Tt Be Nm,Nottingham,02-06-2023,0,Vy Bt,2023,251,0.857143,0.672131,173.266667,0.0,154.333333,1,0,7.857143,8.621849,8,6,0.500000,0.647059,0,0,143.002857,118.129091,29.0,20.0,209,163.0,12.013333,8.805000,NaN,NaN,NaN,NaN
3,9587073,Ga An Ws,36084,8127230.0:4690328.0:4069666.0:7960847.0:4690188.0:4739580.0:4739552.0:5744850.0:2294823.0:9266102.0:284339.0,Bs Rs,36070,3462080.0:2436405.0:1798705.0:7550857.0:5742470.0:2740408.0:3575774.0:3200756.0:334963.0:6399210.0:6347494.0,Ga An Ws,36084,Ga An Ws,bat,Bn La Sm Ta Td,Tarouba,10-09-2023,1,Cn Pr Le,2023,14300,2.166667,1.975610,164.266667,50.0,144.250000,0,1,7.171875,7.428571,7,8,0.500000,0.500000,0,1,120.443636,130.148889,18.0,16.0,169,167.0,10.261429,8.678571,NaN,NaN,NaN,NaN
4,9516457,Pb Ks,30407,8127181.0:197658.0:4239038.0:2398346.0:5053082.0:4640824.0:5038046.0:8180500.0:2035102.0:3851518.0:7881845.0:7453697.0,Gt Ts,48341,1958683.0:7491224.0:8059029.0:4377610.0:2252452.0:2966879.0:5554254.0:4690230.0:3373285.0:3759846.0:6496482.0,Gt Ts,48341,Gt Ts,field,Pb Ct An IS Ba Sm Mi Ch,Chandigarh,13-04-2023,2,In Pr Le,2023,7118,0.818182,1.327869,164.666667,0.0,189.000000,1,0,7.809524,6.975610,5,9,0.250000,1.000000,0,0,130.007500,134.465000,12.0,8.0,142,146.0,7.500000,7.461667,27.75,NaN,3.500000,NaN

In [ ]:
#Dot Ball Percentage
bowler_lvl_data['DotBallPercentage'] = (bowler_lvl_data['dots'] / bowler_lvl_data['balls_bowled']) * 100
dotballp_i1 = bowler_lvl_data[bowler_lvl_data['inning'] == 1].groupby('match id')['DotBallPercentage'].mean().reset_index()
dotballp_i1.columns = ['match id', 'dotballp_i1']

dotballp_i2 = bowler_lvl_data[bowler_lvl_data['inning'] == 2].groupby('match id')['DotBallPercentage'].mean().reset_index()
dotballp_i2.columns = ['match id', 'dotballp_i2']

# Merge into the train data
train_data = train_data.merge(dotballp_i1, on='match id', how='left', suffixes=('_x', '_i1'))
train_data = train_data.merge(dotballp_i2, on='match id', how='left', suffixes=('_x', '_i1'))

# Merge into the test data
test_data = test_data.merge(dotballp_i1, on='match id', how='left', suffixes=('_x', '_i1'))
test_data = test_data.merge(dotballp_i2, on='match id', how='left', suffixes=('_x', '_i1'))

train_data.head()

,match id,team1,team1_id,team1_roster_ids,team2,team2_id,team2_roster_ids,winner,winner_id,toss winner,toss decision,venue,city,match_dt,lighting,series_name,season,ground_id,team_count_50runs_last15,team_winp_last5,team1only_avg_runs_last15,team1_winp_team2_last15,ground_avg_runs_last15,toss_winner_01,toss_decision_01,inning1_run_rate,inning2_run_rate,inning1_wickets,inning2_wickets,team1_win_rate,team2_win_rate,team1_leading,team2_leading,avg_strike_rate_inning1,avg_strike_rate_inning2,total_boundaries_inning1,total_boundaries_inning2,inning1_runs,inning2_runs,ER_inning1,ER_inning2,bowling_avg_i1,bowling_avg_i2,bowling_strikerate_i1,bowling_strikerate_i2,dotballp_i1,dotballp_i2
0,9331181,Ba,11283,9373356.0:7857520.0:4232164.0:4566540.0:3299407.0:232000.0:7883504.0:8725723.0:7878989.0:2526390.0:8725730.0:4017523.0,Hl Ph,12634,3500958.0:4231751.0:2735081.0:2035102.0:3698337.0:5058192.0:6844718.0:4566526.0:6596582.0:4161975.0:7952804.0:8465057.0,Hl Ph,12634,Hl Ph,field,Hr Ct Sm Ie,Indore,20-10-2022,0,Sd Mq Ai Ty,2022/23,7398,1.666667,0.672131,139.000000,100.0,157.178571,1,0,6.830769,9.402062,6,1,0.333333,1.000000,1,0,100.848333,92.110000,0.0,6.0,72,65.0,7.375000,6.835000,14.75,NaN,2.000000,NaN,35.416667,39.644608
1,8797060,Ed,20,2089079.0:6139370.0:2076192.0:62432.0:2083409.0:172199.0:2022957.0:1482998.0:1711492.0:4507208.0:3231437.0,Wt Is,41,4690258.0:4069666.0:4230127.0:1942317.0:1613926.0:2740408.0:4739552.0:5744850.0:4690104.0:3715697.0:3468870.0,Ed,20,Wt Is,field,Kn Ol Bn Bs,Bridgetown,23-01-2022,0,Ed tr of Wt Is,2021/22,1406,1.285714,1.952381,156.000000,50.0,103.500000,1,0,9.396226,9.486486,6,2,0.400000,0.600000,1,0,131.465000,106.254000,19.0,19.0,163,158.0,8.736667,8.958333,22.25,NaN,2.666667,NaN,41.898148,47.685185
2,9433269,We,10576,3298427.0:2288789.0:7773338.0:3519011.0:3681957.0:7671313.0:5320118.0:2922611.0:7184232.0:7661996.0:6240632.0,Ne,8987,4003390.0:1749075.0:1626526.0:4172447.0:5516720.0:7328110.0:125915.0:130437.0:7507303.0:4420828.0:5652828.0,We,10576,Ne,field,Tt Be Nm,Nottingham,02-06-2023,0,Vy Bt,2023,251,0.857143,0.672131,173.266667,0.0,154.333333,1,0,7.857143,8.621849,8,6,0.500000,0.647059,0,0,143.002857,118.129091,29.0,20.0,209,163.0,12.013333,8.805000,NaN,NaN,NaN,NaN,25.000000,34.212963
3,9587073,Ga An Ws,36084,8127230.0:4690328.0:4069666.0:7960847.0:4690188.0:4739580.0:4739552.0:5744850.0:2294823.0:9266102.0:284339.0,Bs Rs,36070,3462080.0:2436405.0:1798705.0:7550857.0:5742470.0:2740408.0:3575774.0:3200756.0:334963.0:6399210.0:6347494.0,Ga An Ws,36084,Ga An Ws,bat,Bn La Sm Ta Td,Tarouba,10-09-2023,1,Cn Pr Le,2023,14300,2.166667,1.975610,164.266667,50.0,144.250000,0,1,7.171875,7.428571,7,8,0.500000,0.500000,0,1,120.443636,130.148889,18.0,16.0,169,167.0,10.261429,8.678571,NaN,NaN,NaN,NaN,38.690476,41.666667
4,9516457,Pb Ks,30407,8127181.0:197658.0:4239038.0:2398346.0:5053082.0:4640824.0:5038046.0:8180500.0:2035102.0:3851518.0:7881845.0:7453697.0,Gt Ts,48341,1958683.0:7491224.0:8059029.0:4377610.0:2252452.0:2966879.0:5554254.0:4690230.0:3373285.0:3759846.0:6496482.0,Gt Ts,48341,Gt Ts,field,Pb Ct An IS Ba Sm Mi Ch,Chandigarh,13-04-2023,2,In Pr Le,2023,7118,0.818182,1.327869,164.666667,0.0,189.000000,1,0,7.809524,6.975610,5,9,0.250000,1.000000,0,0,130.007500,134.465000,12.0,8.0,142,146.0,7.500000,7.461667,27.75,NaN,3.500000,NaN,46.875000,30.303945

Data Cleaning

In [ ]:
#Creating dependent column
train_data['winner_01'] = train_data.apply(lambda x: 1 if (x['team2']==x['winner']) else 0, axis=1)

In [ ]:
train_data.shape

(948, 48)

In [ ]:
# Display the number of missing values per column
# missing_values = train_data.isnull().sum()
# print("Missing values per column before handling:")
# print(missing_values)

In [ ]:
# For columns with high percentages of missing values
high_missing_cols = ['bowling_avg_i1', 'bowling_avg_i2', 'bowling_strikerate_i1', 'bowling_strikerate_i2']

# Impute with mean values
for col in high_missing_cols:
    train_data[col] = train_data[col].fillna(train_data[col].mean())

# for col in high_missing_cols:
#   if train_data[col].isinf().any():
#     train_data[col].replace([np.inf, -np.inf], 0, inplace=True)

# For columns with fewer missing values
low_missing_cols = ['team1only_avg_runs_last15', 'ground_avg_runs_last15','total_boundaries_inning2', 'avg_strike_rate_inning1', 'avg_strike_rate_inning2', 'inning2_runs', 'ER_inning2', 'dotballp_i2']

# Impute with median values
for col in low_missing_cols:
    train_data[col] = train_data[col].fillna(train_data[col].median())

In [ ]:
X = train_data.drop(columns=['winner', 'winner_id', 'match id', 'team1', 'team1_roster_ids', 'team2', 'team2_roster_ids', 'toss winner', 'toss decision', 'venue', 'city', 'match_dt', 'series_name', 'season', 'bowling_avg_i1', 'bowling_avg_i2', 'bowling_strikerate_i1', 'bowling_strikerate_i2', 'winner_01'])  # Drop columns that are not features
y = train_data['winner_01']  # Assuming 'winner_01' is the binary target column

# X_test = test_data.drop(columns=['match id', 'team1', 'team1_roster_ids', 'team2', 'team2_roster_ids', 'toss winner', 'toss decision', 'venue', 'city', 'match_dt', 'series_name', 'season', 'bowling_avg_i1', 'bowling_avg_i2', 'bowling_strikerate_i1', 'bowling_strikerate_i2'])  # Drop columns that are not features
# y_test = test_data['winner_01']  # Assuming 'winner_01' is the binary target column

X_test = test_data[X.columns.tolist()]

X.head()
X_test.head()

,team1_id,team2_id,lighting,ground_id,team_count_50runs_last15,team_winp_last5,team1only_avg_runs_last15,team1_winp_team2_last15,ground_avg_runs_last15,toss_winner_01,toss_decision_01,inning1_run_rate,inning2_run_rate,inning1_wickets,inning2_wickets,team1_win_rate,team2_win_rate,team1_leading,team2_leading,avg_strike_rate_inning1,avg_strike_rate_inning2,total_boundaries_inning1,total_boundaries_inning2,inning1_runs,inning2_runs,ER_inning1,ER_inning2,dotballp_i1,dotballp_i2
0,11283,12634,0,7398,1.666667,0.672131,139.000000,100.0,157.178571,1,0,6.830769,9.402062,6,1,0.333333,1.000000,1,0,100.848333,92.110000,0.0,6.0,72,65.0,7.375000,6.835000,35.416667,39.644608
1,20,41,0,1406,1.285714,1.952381,156.000000,50.0,103.500000,1,0,9.396226,9.486486,6,2,0.400000,0.600000,1,0,131.465000,106.254000,19.0,19.0,163,158.0,8.736667,8.958333,41.898148,47.685185
2,10576,8987,0,251,0.857143,0.672131,173.266667,0.0,154.333333,1,0,7.857143,8.621849,8,6,0.500000,0.647059,0,0,143.002857,118.129091,29.0,20.0,209,163.0,12.013333,8.805000,25.000000,34.212963
3,36084,36070,1,14300,2.166667,1.975610,164.266667,50.0,144.250000,0,1,7.171875,7.428571,7,8,0.500000,0.500000,0,1,120.443636,130.148889,18.0,16.0,169,167.0,10.261429,8.678571,38.690476,41.666667
4,30407,48341,2,7118,0.818182,1.327869,164.666667,0.0,189.000000,1,0,7.809524,6.975610,5,9,0.250000,1.000000,0,0,130.007500,134.465000,12.0,8.0,142,146.0,7.500000,7.461667,46.875000,30.303945

,team1_id,team2_id,lighting,ground_id,team_count_50runs_last15,team_winp_last5,team1only_avg_runs_last15,team1_winp_team2_last15,ground_avg_runs_last15,toss_winner_01,toss_decision_01,inning1_run_rate,inning2_run_rate,inning1_wickets,inning2_wickets,team1_win_rate,team2_win_rate,team1_leading,team2_leading,avg_strike_rate_inning1,avg_strike_rate_inning2,total_boundaries_inning1,total_boundaries_inning2,inning1_runs,inning2_runs,ER_inning1,ER_inning2,dotballp_i1,dotballp_i2
0,28594,90,1,3226,0.000000,0.019608,NaN,0.00,NaN,1,0,6.830769,9.402062,6,1,1.000000,0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,36084,36098,2,13915,0.615385,0.344262,151.285714,66.67,153.500,1,0,9.396226,9.486486,6,2,0.666667,0.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,30428,48334,2,2764,0.842105,0.753086,171.066667,100.00,179.625,0,1,7.857143,8.621849,8,6,1.000000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,36098,36112,2,11892,0.285714,1.487805,166.000000,75.00,155.500,1,0,7.171875,7.428571,7,8,0.333333,0.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,30414,48341,2,18752,2.375000,0.310330,169.933333,0.00,164.125,1,0,7.809524,6.975610,5,9,0.500000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
X_nans = X.isna().sum().reset_index()
X_nans[X_nans[0]!=0]

X_test_nans = X_test.isna().sum().reset_index()
X_test_nans[X_test_nans[0]!=0]

Empty DataFrame
Columns: [index, 0]
Index: []

                        index    0
6   team1only_avg_runs_last15  7
8   ground_avg_runs_last15     10
15  team1_win_rate             49
16  team2_win_rate             38
17  team1_leading              271
18  team2_leading              271
19  avg_strike_rate_inning1    271
20  avg_strike_rate_inning2    271
21  total_boundaries_inning1   271
22  total_boundaries_inning2   271
23  inning1_runs               271
24  inning2_runs               271
25  ER_inning1                 271
26  ER_inning2                 271
27  dotballp_i1                271
28  dotballp_i2                271

In [ ]:
# Identify binary and numerical columns
binary_cols = [col for col in X_test.columns if X_test[col].nunique() == 2]
numerical_cols = X_test.select_dtypes(include='number').columns.difference(binary_cols)

# Fill NaN values in numerical columns with the mean of the column
X_test[numerical_cols] = X_test[numerical_cols].fillna(X_test[numerical_cols].mean())

# Fill NaN values in binary columns with the mode of the column
for col in binary_cols:
    X_test[col] = X_test[col].fillna(X_test[col].mode()[0])

# Check for remaining NaN values in the dataset
nan_counts = X_test.isna().sum()
columns_with_nan = nan_counts[nan_counts > 0]

# Display columns with remaining NaN values and their counts
if not columns_with_nan.empty:
    print("Remaining NaNs in X_test Data:\n", columns_with_nan)
else:
    print("No remaining NaNs in X_test Data.")

# Display the first few rows of the cleaned dataframe
print("Cleaned X_test Data:\n", X_test.head())

Remaining NaNs in X_test Data:
 team1_leading               271
team2_leading               271
avg_strike_rate_inning1     271
avg_strike_rate_inning2     271
total_boundaries_inning1    271
total_boundaries_inning2    271
inning1_runs                271
inning2_runs                271
ER_inning1                  271
ER_inning2                  271
dotballp_i1                 271
dotballp_i2                 271
dtype: int64
Cleaned X_test Data:
    team1_id  team2_id  lighting  ground_id  team_count_50runs_last15  \
0  28594     90        1         3226       0.000000
1  36084     36098     2         13915      0.615385
2  30428     48334     2         2764       0.842105
3  36098     36112     2         11892      0.285714
4  30414     48341     2         18752      2.375000

   team_winp_last5  team1only_avg_runs_last15  team1_winp_team2_last15  \
0  0.019608         160.460540                 0.00
1  0.344262         151.285714                 66.67
2  0.753086         171.066667                 100.00
3  1.487805         166.000000                 75.00
4  0.310330         169.933333                 0.00

   ground_avg_runs_last15  toss_winner_01  toss_decision_01  inning1_run_rate  \
0  154.293439              1               0                 6.830769
1  153.500000              1               0                 9.396226
2  179.625000              0               1                 7.857143
3  155.500000              1               0                 7.171875
4  164.125000              1               0                 7.809524

   inning2_run_rate  inning1_wickets  inning2_wickets  team1_win_rate  \
0  9.402062          6                1                1.000000
1  9.486486          6                2                0.666667
2  8.621849          8                6                1.000000
3  7.428571          7                8                0.333333
4  6.975610          5                9                0.500000

   team2_win_rate  team1_leading  team2_leading  avg_strike_rate_inning1  \
0  0.5            NaN            NaN            NaN
1  0.6            NaN            NaN            NaN
2  1.0            NaN            NaN            NaN
3  0.6            NaN            NaN            NaN
4  1.0            NaN            NaN            NaN

   avg_strike_rate_inning2  total_boundaries_inning1  \
0 NaN                      NaN
1 NaN                      NaN
2 NaN                      NaN
3 NaN                      NaN
4 NaN                      NaN

   total_boundaries_inning2  inning1_runs  inning2_runs  ER_inning1  \
0 NaN                       NaN           NaN           NaN
1 NaN                       NaN           NaN           NaN
2 NaN                       NaN           NaN           NaN
3 NaN                       NaN           NaN           NaN
4 NaN                       NaN           NaN           NaN

   ER_inning2  dotballp_i1  dotballp_i2
0 NaN         NaN          NaN
1 NaN         NaN          NaN
2 NaN         NaN          NaN
3 NaN         NaN          NaN
4 NaN         NaN          NaN

<ipython-input-73-e97395f3632a>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test[numerical_cols] = X_test[numerical_cols].fillna(X_test[numerical_cols].mean())
<ipython-input-73-e97395f3632a>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test[col] = X_test[col].fillna(X_test[col].mode()[0])

In [ ]:
X_nans = X.isna().sum().reset_index()
X_nans[X_nans[0]!=0]

X_test_nans = X_test.isna().sum().reset_index()
X_test_nans[X_test_nans[0]!=0]

Empty DataFrame
Columns: [index, 0]
Index: []

                       index    0
17  team1_leading             271
18  team2_leading             271
19  avg_strike_rate_inning1   271
20  avg_strike_rate_inning2   271
21  total_boundaries_inning1  271
22  total_boundaries_inning2  271
23  inning1_runs              271
24  inning2_runs              271
25  ER_inning1                271
26  ER_inning2                271
27  dotballp_i1               271
28  dotballp_i2               271

In [ ]:
binary = ['team1_leading', 'team2_leading']
number = ['avg_strike_rate_inning1', 'avg_strike_rate_inning2', 'total_boundaries_inning1', 'total_boundaries_inning2', 'inning1_runs', 'inning2_runs', 'ER_inning1', 'ER_inning2', 'dotballp_i1', 'dotballp_i2']

from sklearn.impute import SimpleImputer
# Fill NaN values in numeric columns with mean
num_imputer = SimpleImputer(strategy='mean')
train_data[number] = num_imputer.fit_transform(train_data[number])
X_test[number] = num_imputer.transform(X_test[number])

# Fill NaN values in binary columns with 0
train_data[binary] = train_data[binary].fillna(0)
X_test[binary] = X_test[binary].fillna(0)

# Verify that there are no NaN values left

print("Test data NaN values:\n", X_test.isna().sum())

Test data NaN values:
 team1_id                     0
team2_id                     0
lighting                     0
ground_id                    0
team_count_50runs_last15     0
team_winp_last5              0
team1only_avg_runs_last15    0
team1_winp_team2_last15      0
ground_avg_runs_last15       0
toss_winner_01               0
toss_decision_01             0
inning1_run_rate             0
inning2_run_rate             0
inning1_wickets              0
inning2_wickets              0
team1_win_rate               0
team2_win_rate               0
team1_leading                0
team2_leading                0
avg_strike_rate_inning1      0
avg_strike_rate_inning2      0
total_boundaries_inning1     0
total_boundaries_inning2     0
inning1_runs                 0
inning2_runs                 0
ER_inning1                   0
ER_inning2                   0
dotballp_i1                  0
dotballp_i2                  0
dtype: int64

<ipython-input-87-7ead908c9107>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test[number] = num_imputer.transform(X_test[number])
<ipython-input-87-7ead908c9107>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test[binary] = X_test[binary].fillna(0)

In [ ]:
X_nans = X.isna().sum().reset_index()
X_nans[X_nans[0]!=0]

X_test_nans = X_test.isna().sum().reset_index()
X_test_nans[X_test_nans[0]!=0]

Empty DataFrame
Columns: [index, 0]
Index: []

Empty DataFrame
Columns: [index, 0]
Index: []

Trying their model gradient boosting

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier

In [ ]:
# user-defined parameters

algo_name = 'GradientBoostingClassifier'
is_ensemble = 'no'
n_trees = 100
depth = 3
lr = 0.1

In [ ]:
clf_gbm = GradientBoostingClassifier(n_estimators = n_trees, max_depth = depth, learning_rate = lr).fit(X,y)

In [ ]:
train_data['y_pred_01'] = clf_gbm.predict(X)
test_data['y_pred_01'] = clf_gbm.predict(X_test)

In [ ]:
from sklearn.metrics import classification_report

In [ ]:
# Train accuracy
print(classification_report(y, clf_gbm.predict(X), labels=[0,1]))

              precision    recall  f1-score   support

           0       0.90      0.85      0.88       468
           1       0.87      0.91      0.89       480

    accuracy                           0.88       948
   macro avg       0.89      0.88      0.88       948
weighted avg       0.89      0.88      0.88       948

In [ ]:
train_data['win_pred_score'] = clf_gbm.predict_proba(X)[:,1]
test_data['win_pred_score'] = clf_gbm.predict_proba(X_test)[:,1]

In [ ]:
train_data['win_pred_score'] = np.where( (train_data['y_pred_01']==0), (1-train_data['win_pred_score']), train_data['win_pred_score'])
test_data['win_pred_score'] = np.where( (test_data['y_pred_01']==0), (1-test_data['win_pred_score']), test_data['win_pred_score'])

In [ ]:
train_data['win_pred_team_id'] = np.where( (train_data['y_pred_01']==0), (train_data['team1_id']), train_data['team2_id'])
test_data['win_pred_team_id'] = np.where( (test_data['y_pred_01']==0), (test_data['team1_id']), test_data['team2_id'])

In [ ]:
df_feat_importance = pd.DataFrame({'feat_name':X.columns.tolist(), 'model_feat_imp_train':clf_gbm.feature_importances_}).sort_values(by='model_feat_imp_train', ascending=False)\
                                                                                                                        .reset_index(drop=True).head(10)
df_feat_importance

NameError: name 'pd' is not defined

FILE PREPARATION

File 1

In [ ]:
train_data['dataset_type'] = 'train'
test_data['dataset_type'] = 'r1'

In [ ]:
## refactor

df_file1 = pd.concat([test_data[['match id','dataset_type','win_pred_team_id','win_pred_score',] + list(df_feat_importance['feat_name'].head(10))], \
                     train_data[['match id','dataset_type','win_pred_team_id','win_pred_score',] + list(df_feat_importance['feat_name'].head(10))]])

renaming_dict = {}
for i,col in enumerate(list(df_feat_importance['feat_name'].head(10))):
    renaming_dict[col] = f'indep_feat_id{i+1}'
df_file1.rename(columns=renaming_dict, inplace=True)

for i in range(1,11):
    if f'indep_feat_id{i}' not in df_file1.columns:
        df_file1[f'indep_feat_id{i}'] = np.nan

df_file1['train_algorithm'] = algo_name
df_file1['is_ensemble'] = is_ensemble
df_file1['train_hps_trees'] = n_trees
df_file1['train_hps_depth'] = depth
df_file1['train_hps_lr'] = lr

In [ ]:
df_file1.shape
df_file1.head()

File 2

In [ ]:
feature_desc = {'team_count_50runs_last15':'Ratio of number of 50s by players in team1 to number of 50s by players in team2 in last 15 games',\
               'team_winp_last5':'Ratio of team1\'s win % to team2\'s win % in last 5 games',\
               'ground_avg_runs_last15':'average runs scored in the ground in last 15 games',\
               'team1_winp_team2_last15':'Team1\'s win percentage against Team2 in last 15 games',\
               'team1only_avg_runs_last15':'team1\'s avg inning runs in last 15 games',\

               'season_num' : 'Numerical form of season. Takes 1 for oldest season and increases for latest seasons.',\
               'toss_winner_01' : 'Toss winner to numerical - 1 if team2 wins, else 0',\
               'toss_decision_01' : 'Toss decision - categorical - 1 if winner bats, 0 otherwise',\
               'lighting': 'Categorical to Numerical - day/night: 0, day: 1, night: 2',\
               'inning1_run_rate': 'runrate of batting team in inning 1',\
               'inning2_run_rate': 'runrate of batting team in inning 2',\
               'inning1_wickets' : 'Number of wickets in inning 1',\
               'inning2_wickets' : 'Number of wickets in inning 2',\
               'team1_win_rate' : 'Winning rate of team 1 at given venue',\
               'team2_win_rate' : 'Winning rate of team 2 at given venue',\
               'team1_leading' : '1 if team 1 is leading in series, 0 otherwise',\
               'team2_leading' : '1 if team 2 is leading in series, 0 otherwise',\
               'avg_strike_rate_inning1' : 'Average strike rate of batting team in inning 1',\
               'avg_strike_rate_inning2' : 'Average strike rate of batting team in inning 2',\
               'total_boundaries_inning1' : 'Total boundaries scored in inning 1',\
               'total_boundaries_inning2' : 'Total boundaries scored in inning 2',\
               'inning1_runs' : 'Total runs scored in inning 1',\
               'inning2_runs' : 'Total runs scored in inning 2',\
               'ER_inning1' : 'Economy rate of bowler in inning 1',\
               'ER_inning2' : 'Economy rate of bowler in inning 2',\
               'bowling_avg_i1' : 'Bowling average of bowling team in inning 1',\
               'bowling_avg_i2' : 'Bowling average of bowling team in inning',\
               'bowling_strikerate_i1' : 'Bowling strike rate of bowling team in inning 1',\
               'bowling_strikerate_i2' : 'Bowling strike rate of bowling team in inning 2',\
               'dotballp_i1' : 'Dot ball percentage of bowling team in inning 1',\
               'dotballp_i2' : 'Dot ball percentage of bowling team in inning 2',\
               'team1_id' : 'Team 1 ID',\
               'team2_id' : 'Team 2 ID'
               }

In [ ]:
# df_feat_importance.rename(index={0:'feat_id'}, inplace=True)
df_file2 = df_feat_importance
df_file2['feat_id'] = [i+1 for i in df_file2.index]
df_file2['feat_rank_train'] = [i+1 for i in df_file2.index]
df_file2 = df_file2.set_index('feat_id')
df_file2['feat_description'] = df_file2['feat_name'].map(feature_desc)

In [ ]:
df_file2

In [ ]:
df_file1.to_csv('file1.csv', index=False)
df_file2.to_csv('file2.csv')

In [ ]:
from google.colab import files
files.download('file1.csv')
files.download('file2.csv')

In [ ]:
# model_with_bowling = XGBClassifier(use_label_encoder=False, eval_metric='logloss')
# model_with_bowling.fit(X_train, y_train)

# y_pred_with_bowling = model_with_bowling.predict(X_test)
# accuracy_with_bowling = accuracy_score(y_test, y_pred_with_bowling)
# print("Accuracy with bowling features:", accuracy_with_bowling)
# predictions = metrics.accuracy_score(y_test, y_pred_with_bowling)
# print('The accuracy is: ', predictions * 100, '%')

In [ ]:
# # Load the CSV file
# train_data = pd.read_csv('train_data.csv')

# # Display the first few rows of the dataframe to understand its structure
# print(train_data.head())

# # Separate numerical and categorical columns
# numerical_cols = train_data.select_dtypes(include='number').columns
# categorical_cols = train_data.select_dtypes(exclude='number').columns

# # Fill NaN values in numerical columns with the mean of the column
# train_data[numerical_cols] = train_data[numerical_cols].fillna(train_data[numerical_cols].mean())

# # Fill NaN values in categorical columns with the mode of the column
# for col in categorical_cols:
#     train_data[col] = train_data[col].fillna(train_data[col].mode()[0])

# # Display the first few rows of the cleaned dataframe
# print(train_data.head())

# # Optional: Save the cleaned data to a new CSV file
# train_data.to_csv('train_data.csv', index=False)

# files.download('train_data.csv')

In [ ]:
# # Checking if some nan values are still remaining

# # Check for NaN values in each column
# nan_counts = train_data.isna().sum()

# # Filter columns that have NaN values
# columns_with_nan = nan_counts[nan_counts > 0]

# # Display columns with NaN values and their counts
# print(columns_with_nan)

# # Display the total number of NaN values in the entire dataset
# total_nan = train_data.isna().sum().sum()
# print(f'Total number of NaN values in the dataset: {total_nan}')